Getting a Sample of Entries from a Body Zone

The TSA Passenger Screening Agorithm Kaggle competition data includes 3D image files

In [19]:
import pandas as pd

First, I want to read in the 'stage1_labels.csv' file into a Pandas dataframe (labels)

In [22]:
labels = pd.read_csv('/Users/Yvonne/Desktop/TSA_Kaggle/stage1_labels.csv')
labels.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>Probability</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone10</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone11</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone12</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone13</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

Because this dataset is huge (19,499 entries and about 3 TB of data) I want to focus first on training models for a single body zone (of 17). In the csv file Kaggle provided, the zone information is tacked onto the end of the unique ID for each entry in the 'Id' column. I want to split the 'Id' column

In [3]:
labels['Id_only'], labels['Zone'] = labels['Id'].str.split('_', 1).str
labels.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>Probability</th>
      <th>Id_only</th>
      <th>Zone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone1</td>
      <td>0</td>
      <td>00360f79fd6e02781457eda48f85da90</td>
      <td>Zone1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone10</td>
      <td>0</td>
      <td>00360f79fd6e02781457eda48f85da90</td>
      <td>Zone10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone11</td>
      <td>0</td>
      <td>00360f79fd6e02781457eda48f85da90</td>
      <td>Zone11</td>
    </tr>
    <tr>
      <th>3</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone12</td>
      <td>0</td>
      <td>00360f79fd6e02781457eda48f85da90</td>
      <td>Zone12</td>
    </tr>
    <tr>
      <th>4</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone13</td>
      <td>0</td>
      <td>00360f79fd6e02781457eda48f85da90</td>
      <td>Zone13</td>
    </tr>
  </tbody>
</table>
</div>

Now that 'Zone' is its own column, it's much easier to sort and index the labels dataframe by zone. I want to create a new dataframe (zone6) that includes only the row entries in zone 6. This is the subset of the dataset that I'll start working on to try my model. I'll pull an initial sample of entries from zone 6 to begin with.

In [11]:
zone6 = labels[labels['Zone']=='Zone6']
zone6.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>Probability</th>
      <th>Id_only</th>
      <th>Zone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>00360f79fd6e02781457eda48f85da90_Zone6</td>
      <td>0</td>
      <td>00360f79fd6e02781457eda48f85da90</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>30</th>
      <td>0043db5e8c819bffc15261b1f1ac5e42_Zone6</td>
      <td>0</td>
      <td>0043db5e8c819bffc15261b1f1ac5e42</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>47</th>
      <td>0050492f92e22eed3474ae3a6fc907fa_Zone6</td>
      <td>0</td>
      <td>0050492f92e22eed3474ae3a6fc907fa</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>64</th>
      <td>006ec59fa59dd80a64c85347eef810c7_Zone6</td>
      <td>0</td>
      <td>006ec59fa59dd80a64c85347eef810c7</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>81</th>
      <td>0097503ee9fa0606559c56458b281a08_Zone6</td>
      <td>0</td>
      <td>0097503ee9fa0606559c56458b281a08</td>
      <td>Zone6</td>
    </tr>
  </tbody>
</table>
</div>

But first... I want to how many entries in the 'Probability' column are '0' and how many are '1'.

In [13]:
zone6['Probability'].value_counts()

0    1031
1     116
Name: Probability, dtype: int64

In [15]:
(116/1031)*30

3.3753637245392825

Great. Now I'll use the sample method to

In [16]:
zone6.sample(n=30)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>Probability</th>
      <th>Id_only</th>
      <th>Zone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11624</th>
      <td>9dd22f1205f3e360807ca157c4887306_Zone6</td>
      <td>0</td>
      <td>9dd22f1205f3e360807ca157c4887306</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>2206</th>
      <td>1eedc349bd89c6eb14f1ff73f5821e27_Zone6</td>
      <td>0</td>
      <td>1eedc349bd89c6eb14f1ff73f5821e27</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>659</th>
      <td>0ada538288f0b62b01510b397a8acb9e_Zone6</td>
      <td>0</td>
      <td>0ada538288f0b62b01510b397a8acb9e</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>17268</th>
      <td>e478268bf41b2fce4235e0638195d049_Zone6</td>
      <td>0</td>
      <td>e478268bf41b2fce4235e0638195d049</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>14293</th>
      <td>bdf491ad75838345ef41ef13503c7411_Zone6</td>
      <td>0</td>
      <td>bdf491ad75838345ef41ef13503c7411</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>16877</th>
      <td>e087226320cc189142228b5fb93ed58f_Zone6</td>
      <td>0</td>
      <td>e087226320cc189142228b5fb93ed58f</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>353</th>
      <td>06726105fabadca043737601d06415a8_Zone6</td>
      <td>0</td>
      <td>06726105fabadca043737601d06415a8</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>9618</th>
      <td>865aea073a3439d7fadfe2edfe1839ff_Zone6</td>
      <td>0</td>
      <td>865aea073a3439d7fadfe2edfe1839ff</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>6558</th>
      <td>5e20b35d769f8f6b8cb8595ed682bc45_Zone6</td>
      <td>0</td>
      <td>5e20b35d769f8f6b8cb8595ed682bc45</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>693</th>
      <td>0b2e8050a0c115b873563399e7c86ad6_Zone6</td>
      <td>1</td>
      <td>0b2e8050a0c115b873563399e7c86ad6</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>1543</th>
      <td>16eb63b55c0ab56b543fae2d988bdfcb_Zone6</td>
      <td>0</td>
      <td>16eb63b55c0ab56b543fae2d988bdfcb</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>13987</th>
      <td>b9636ccc14f214a0a6c837e07963745f_Zone6</td>
      <td>0</td>
      <td>b9636ccc14f214a0a6c837e07963745f</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>16384</th>
      <td>d7bba8e9f303107db7a0feab67d8e895_Zone6</td>
      <td>0</td>
      <td>d7bba8e9f303107db7a0feab67d8e895</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>4926</th>
      <td>4710b3962e50f2b546b2bd67f2c142fb_Zone6</td>
      <td>1</td>
      <td>4710b3962e50f2b546b2bd67f2c142fb</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>6745</th>
      <td>613c4740f8c1157cbe33dcc5459ff230_Zone6</td>
      <td>0</td>
      <td>613c4740f8c1157cbe33dcc5459ff230</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>16027</th>
      <td>d3baced17960bd174bac1fe5b048098c_Zone6</td>
      <td>0</td>
      <td>d3baced17960bd174bac1fe5b048098c</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>64</th>
      <td>006ec59fa59dd80a64c85347eef810c7_Zone6</td>
      <td>0</td>
      <td>006ec59fa59dd80a64c85347eef810c7</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>12287</th>
      <td>a4be369fdc0ca58701632a63efff1a12_Zone6</td>
      <td>0</td>
      <td>a4be369fdc0ca58701632a63efff1a12</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>4348</th>
      <td>401dc40c30b9206019d61c4ed625cfce_Zone6</td>
      <td>0</td>
      <td>401dc40c30b9206019d61c4ed625cfce</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>1271</th>
      <td>13c13b32a6f3818169394c16eae3ea52_Zone6</td>
      <td>0</td>
      <td>13c13b32a6f3818169394c16eae3ea52</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>11267</th>
      <td>98dcd7ae27cc801d639e37441d8243c9_Zone6</td>
      <td>0</td>
      <td>98dcd7ae27cc801d639e37441d8243c9</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>6252</th>
      <td>5aba3b7521c47aea6e2d06d80fe624b7_Zone6</td>
      <td>0</td>
      <td>5aba3b7521c47aea6e2d06d80fe624b7</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>7221</th>
      <td>678074e9d3aa9ab9fec3f348002f5ca0_Zone6</td>
      <td>0</td>
      <td>678074e9d3aa9ab9fec3f348002f5ca0</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>10723</th>
      <td>91116a57f912f23c9213f29ce7a4bcd2_Zone6</td>
      <td>0</td>
      <td>91116a57f912f23c9213f29ce7a4bcd2</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>4229</th>
      <td>3e5e4ede1b6a4ec767480b261336b1b5_Zone6</td>
      <td>0</td>
      <td>3e5e4ede1b6a4ec767480b261336b1b5</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>3311</th>
      <td>2fc4b9b35bf2e764c9ce32c66646fa04_Zone6</td>
      <td>0</td>
      <td>2fc4b9b35bf2e764c9ce32c66646fa04</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>17149</th>
      <td>e362c54c67d38e9d77d929bbe2889646_Zone6</td>
      <td>0</td>
      <td>e362c54c67d38e9d77d929bbe2889646</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>14548</th>
      <td>c0c125567e995e4a08a13a0574b61a8c_Zone6</td>
      <td>0</td>
      <td>c0c125567e995e4a08a13a0574b61a8c</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>1798</th>
      <td>1968890ac955e4cbf22edf129cd7c1da_Zone6</td>
      <td>0</td>
      <td>1968890ac955e4cbf22edf129cd7c1da</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>15024</th>
      <td>c67e64fd5203e870a8b372e2817ab8bf_Zone6</td>
      <td>1</td>
      <td>c67e64fd5203e870a8b372e2817ab8bf</td>
      <td>Zone6</td>
    </tr>
  </tbody>
</table>
</div>

Here is a new dataframe (z6sample30) that includes the 30 entries I downloaded from the Kaggle site (as .aps files) to begin training my model. I created this dataframe mainly for future reference and to document my analysis thus far.

In [20]:
z6sample30 = pd.read_csv('/Users/Yvonne/Desktop/TSA_Kaggle/Z6_samn30_9.18.17.csv')
z6sample30

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Id</th>
      <th>Probability</th>
      <th>Id_only</th>
      <th>Zone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>11624</td>
      <td>9dd22f1205f3e360807ca157c4887306_Zone6</td>
      <td>0</td>
      <td>9dd22f1205f3e360807ca157c4887306</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2206</td>
      <td>1eedc349bd89c6eb14f1ff73f5821e27_Zone6</td>
      <td>0</td>
      <td>1eedc349bd89c6eb14f1ff73f5821e27</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>659</td>
      <td>0ada538288f0b62b01510b397a8acb9e_Zone6</td>
      <td>0</td>
      <td>0ada538288f0b62b01510b397a8acb9e</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17268</td>
      <td>e478268bf41b2fce4235e0638195d049_Zone6</td>
      <td>0</td>
      <td>e478268bf41b2fce4235e0638195d049</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14293</td>
      <td>bdf491ad75838345ef41ef13503c7411_Zone6</td>
      <td>0</td>
      <td>bdf491ad75838345ef41ef13503c7411</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>16877</td>
      <td>e087226320cc189142228b5fb93ed58f_Zone6</td>
      <td>0</td>
      <td>e087226320cc189142228b5fb93ed58f</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>353</td>
      <td>06726105fabadca043737601d06415a8_Zone6</td>
      <td>0</td>
      <td>06726105fabadca043737601d06415a8</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9618</td>
      <td>865aea073a3439d7fadfe2edfe1839ff_Zone6</td>
      <td>0</td>
      <td>865aea073a3439d7fadfe2edfe1839ff</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6558</td>
      <td>5e20b35d769f8f6b8cb8595ed682bc45_Zone6</td>
      <td>0</td>
      <td>5e20b35d769f8f6b8cb8595ed682bc45</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>693</td>
      <td>0b2e8050a0c115b873563399e7c86ad6_Zone6</td>
      <td>1</td>
      <td>0b2e8050a0c115b873563399e7c86ad6</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1543</td>
      <td>16eb63b55c0ab56b543fae2d988bdfcb_Zone6</td>
      <td>0</td>
      <td>16eb63b55c0ab56b543fae2d988bdfcb</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>11</th>
      <td>13987</td>
      <td>b9636ccc14f214a0a6c837e07963745f_Zone6</td>
      <td>0</td>
      <td>b9636ccc14f214a0a6c837e07963745f</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>12</th>
      <td>16384</td>
      <td>d7bba8e9f303107db7a0feab67d8e895_Zone6</td>
      <td>0</td>
      <td>d7bba8e9f303107db7a0feab67d8e895</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4926</td>
      <td>4710b3962e50f2b546b2bd67f2c142fb_Zone6</td>
      <td>1</td>
      <td>4710b3962e50f2b546b2bd67f2c142fb</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>14</th>
      <td>6745</td>
      <td>613c4740f8c1157cbe33dcc5459ff230_Zone6</td>
      <td>0</td>
      <td>613c4740f8c1157cbe33dcc5459ff230</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16027</td>
      <td>d3baced17960bd174bac1fe5b048098c_Zone6</td>
      <td>0</td>
      <td>d3baced17960bd174bac1fe5b048098c</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>16</th>
      <td>64</td>
      <td>006ec59fa59dd80a64c85347eef810c7_Zone6</td>
      <td>0</td>
      <td>006ec59fa59dd80a64c85347eef810c7</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>17</th>
      <td>12287</td>
      <td>a4be369fdc0ca58701632a63efff1a12_Zone6</td>
      <td>0</td>
      <td>a4be369fdc0ca58701632a63efff1a12</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>18</th>
      <td>4348</td>
      <td>401dc40c30b9206019d61c4ed625cfce_Zone6</td>
      <td>0</td>
      <td>401dc40c30b9206019d61c4ed625cfce</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1271</td>
      <td>13c13b32a6f3818169394c16eae3ea52_Zone6</td>
      <td>0</td>
      <td>13c13b32a6f3818169394c16eae3ea52</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>20</th>
      <td>11267</td>
      <td>98dcd7ae27cc801d639e37441d8243c9_Zone6</td>
      <td>0</td>
      <td>98dcd7ae27cc801d639e37441d8243c9</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>21</th>
      <td>6252</td>
      <td>5aba3b7521c47aea6e2d06d80fe624b7_Zone6</td>
      <td>0</td>
      <td>5aba3b7521c47aea6e2d06d80fe624b7</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>22</th>
      <td>7221</td>
      <td>678074e9d3aa9ab9fec3f348002f5ca0_Zone6</td>
      <td>0</td>
      <td>678074e9d3aa9ab9fec3f348002f5ca0</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>23</th>
      <td>10723</td>
      <td>91116a57f912f23c9213f29ce7a4bcd2_Zone6</td>
      <td>0</td>
      <td>91116a57f912f23c9213f29ce7a4bcd2</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>24</th>
      <td>4229</td>
      <td>3e5e4ede1b6a4ec767480b261336b1b5_Zone6</td>
      <td>0</td>
      <td>3e5e4ede1b6a4ec767480b261336b1b5</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>25</th>
      <td>3311</td>
      <td>2fc4b9b35bf2e764c9ce32c66646fa04_Zone6</td>
      <td>0</td>
      <td>2fc4b9b35bf2e764c9ce32c66646fa04</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>26</th>
      <td>17149</td>
      <td>e362c54c67d38e9d77d929bbe2889646_Zone6</td>
      <td>0</td>
      <td>e362c54c67d38e9d77d929bbe2889646</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>27</th>
      <td>14548</td>
      <td>c0c125567e995e4a08a13a0574b61a8c_Zone6</td>
      <td>0</td>
      <td>c0c125567e995e4a08a13a0574b61a8c</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1798</td>
      <td>1968890ac955e4cbf22edf129cd7c1da_Zone6</td>
      <td>0</td>
      <td>1968890ac955e4cbf22edf129cd7c1da</td>
      <td>Zone6</td>
    </tr>
    <tr>
      <th>29</th>
      <td>15024</td>
      <td>c67e64fd5203e870a8b372e2817ab8bf_Zone6</td>
      <td>1</td>
      <td>c67e64fd5203e870a8b372e2817ab8bf</td>
      <td>Zone6</td>
    </tr>
  </tbody>
</table>
</div>